.tabla-carpetas span {
    margin: 1%;
    font-size: 20px;
}

.tabla-carpetas a {
   text-decoration: none;
}

.tabla-carpetas a:hover {
  text-decoration: none;
}

.tabla-carpetas>tbody>tr>td {
    vertical-align: middle !important;
}

.tabla-carpetas .centered {
  text-align: center;
}
