.tabla-carpetas span {
    margin: 1%;
    font-size: 20px;
}

.tabla-carpetas a {
   text-decoration: none;
}

.tabla-carpetas a:hover {
  text-decoration: none;
}

.tabla-carpetas>tbody>tr>td {
    vertical-align: middle !important;
    border-top: none;
}

.tabla-carpetas .centered {
  text-align: center;
}

.tabla-carpetas {
  margin-bottom: 10rem;
}

.tabla-carpetas .tabla-carpetas-body:hover {
  background-color: #dadada;
}

.tabla-carpetas tbody tr th {
  border-top:none;
  border-bottom: 1px solid #ddd;
}
